/Manifest.toml
python/__pycache__/configfile.cpython-39.pyc
python/__pycache__/configfile.cpython-38.pyc
.gitignore
python/__pycache__/configfile.cpython-310.pyc
.vscode/settings.json
.DS_Store
.CondaPkg/